@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit');

:root{
    --cor01: hsl(215, 51%, 70%);
    --cor02: hsl(178, 100%, 50%);
    --cor03: hsl(217, 54%, 11%); /*bg Body*/
    --cor04: hsl(216, 50%, 16%); /*bg Div Card*/
    --cor05: hsl(215, 32%, 27%); /*bg Line*/
    --cor06: hsl(0, 0%, 100%);
    --cor07: rgba(0, 0, 0, 0.465); /*Shaded*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Outfit, Arial, sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
}

body{
    background-color: var(--cor03);
}

div.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card{
    width: 300px;
    height: 550px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--cor07);
    background-color: var(--cor04);
}

div.img{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--cor07);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./imagens/image-equilibrium.jpg');
    background-size: contain;
}

div.img > div{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(178, 100%, 50%, 0.288);
}

div.img > div:hover{
    opacity: 1;
}

div.p{
    width: 300px;
    padding: 15px;
    font-size: 1.2rem;
    color: var(--cor06);
}

div.p > p:hover{
    cursor: pointer;
    color: var(--cor02);
}

div.text{
    width: 300px;
    padding: 15px;
    color: var(--cor01);
}

div.info{
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.left, div.right{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.left > p, div.right > p{
    margin: 0px 5px;
}

div.left > p{
    color: var(--cor02);
}

div.right > p{
    color: var(--cor01);
}

hr{
    margin: 20px 15px;
    border: 1px solid var(--cor05);
}

div.perfil-create{
    display: flex;
    align-items: center;
}

div.perfil-create > img{
    width: 50px;
    height: 50px;
    margin: 0px 15px;
}

div.perfil-create > p{
    color: var(--cor01);
}

div.perfil-create > p > strong{
    font-weight: normal;
    color: var(--cor06);
}

div.perfil-create > p > strong:hover{
    cursor: pointer;
    color: var(--cor02);
}

div.attribution{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.attribution > p{
    font-size: 11px;
    color: var(--cor06);
}

div.attribution > p > a{
    color: hsl(228, 45%, 44%);
}